.one{
    background-color: gray; 
 height:100vh;
}
.two{
    height: 250px;
    width: 250px;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 250px;
    border-radius: 9px;
}
form{
    position: fixed;
    top: 240px;
left: 280px;
}